@import "./scss/nav";
@import "./scss/cores";
@import "./scss/carrossel";
@import "./scss/container-posts";
@import "./scss/box-verde";
@import "./scss/footer";
@import "./scss/icones";

.row{
  margin: 0;
}
h1 {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 3.3rem;
  font-weight: 700;
}

p {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 300;
}
