$grey: #585858;
$borda_footer: #C6C6C6;
$dark-brown: #351D0E;
$white: #fff;
$blue: #3B72DA;
$light-blue: #6BE3F8;
$green: #4CDEC1;
$gradient1: linear-gradient(0deg, rgba(255, 162, 14, .6) 0%,rgba(219, 59, 59, 0.8) 100%);
$gradient2: linear-gradient(135deg, #832BF6 0%,#FF4665 100%);
$gradient3: linear-gradient(135deg, #2DCEF8 0%,#3B40FE 100%);
$gradient4: linear-gradient(135deg, #009DC5 0%,#21E590 100%);
$gradient5: linear-gradient(135deg, #FF5673 0%,#FF8C48 100%);
