.nav-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: max-content;
  padding: 20px;
}

.div-logo {
  width: 160px;
}

.busca-fit {
  input {
    height: 50px;
    padding: 5px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    margin-right: 5px;
    width: 400px;
    border-radius: 10px;
    border: 1px solid #C6C6C6;
  }
}
